<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MandiriPanganku"
        tools:targetApi="31">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".HomeActivity" />
        <activity android:name=".RegisterActivity" />
        <activity android:name=".PasswordActivity" />
        <activity android:name=".ProfileActivity" />
        <activity android:name=".ReportActivity" />

        <activity android:name=".CommunityActivity"
            android:windowSoftInputMode="adjustResize"/>

        <activity android:name=".AgricultureActivity" />
        <activity android:name=".FarmingActivity" />
        <activity android:name=".FisheryActivity" />

        <activity android:name=".MyAgricultureActivity" />
        <activity android:name=".MyFarmingActivity" />
        <activity android:name=".MyFisheryActivity" />

        <activity android:name=".AgrilistActivity" />
        <activity android:name=".FarmlistActivity" />
        <activity android:name=".FishlistActivity" />

        <activity android:name=".ClueAgricultureActivity" />
        <activity android:name=".ClueFisheryActivity" />
        <activity android:name=".ClueFarmingActivity" />

        <activity android:name=".SpinachActivity" />
        <activity android:name=".TomatoActivity" />
        <activity android:name=".PotatoActivity" />



    </application>

</manifest>